
.navBarContainer{
    display: flex;
    text-decoration: none;
    width: 100%;
    position: absolute;
    margin-top: 20px;

    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        list-style: none;
        li{
            a{
                text-decoration: none;
            color: rgb(58, 58, 58);
            text-shadow: 2px 2px white;
            }
        }
    }
}